
{% extends 'base.html' %}
{% block content %}

<h1>Profile</h1>
<h2>{{ user }}</h2>
<p> Username : {{ detail.username }} </p>
<p> Are you a supplier? : {{ detail.is_supplier|yesno:"Yes,No" }}</p>
<p> First Name: {{ detail.first_name }} </p>
<p> Last Name: {{ detail.last_name }} </p>
<p> Organisation: {{ detail.organisation }} </p>
<p> Post Code: {{ detail.post_code }} </p>
<p> Phone : {{ detail.phone }} </p>

<p> {{ is_none }}</p>
<title>Profile</title>
<p>
    <a href='/user/profile/edit'>Edit Profile</a>
</p>
<p>
    <a href='/user/change_password'>Change Password </a>
</p>


{% endblock %}