{% extends 'analytics.html'%}
{% load static %}

{% block chart %}
{% load static %}
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>


<!-- Create a div where the graph will take place -->
<body onload="DrawChart()">
  
<h1>Ranking</h1>
<p>Select a category:</p>
<select id="group_name" onchange="DrawChart()">
    <option value='All' selected="selected">All</option>
    <option value='Diagnostic'>Diagnostic</option>
    <option value='Therapeutic'>Therapeutic</option>
    <option value='Population health'>Population health</option>
    <option value='Care-based'>Care-based</option>
    <option value='Triage'>Triage</option>
    <option value='Self-care'>Selef-care</option>
    <option value='Health promotion' >Health promotion</option>
    <option value='Remote Monitoring'>Remote Monitoring</option>
    <option value='Remote Consultation'>Remote Consultation</option>
    <option value='Other'>Other</option>
</select>
<a>      </a>
<input type="checkbox" onclick="DrawChart()" id="audited" a/> Audited Only<br>
</body>
<p hidden='true' id='result'>No result</p>
<p></p>
<div class="rankGraph"></div>

<script src="{% static 'rankingBarChart.js' %}"></script>
<script>
  function DrawChart(){
    d3.select('.rankGraph').select("svg").remove();
    var urlmask = "{% url 'complianceform:ranking_score' group='gname' audited='auditedTrueOrFalse' %}"
    urlmask = urlmask.replace('gname',document.getElementById("group_name").value.toString())
    urlmask = urlmask.replace('auditedTrueOrFalse',document.getElementById("audited").checked.toString())
    d3.json(urlmask, function(error,data){
      console.log()
      if (Object.keys(data).length == 0){
        document.getElementById('result').hidden=false 
      } else {
        document.getElementById('result').hidden=true
        RankingBarChart('.rankGraph',data)
      }
  })
}
</script>

<style>
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 30px;					
    height: 16px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 3px;			
    pointer-events: none;			
}
</style>

{% endblock %}