{% extends 'analytics.html'%}
{% block chart %}
<script src="https://d3js.org/d3.v4.js"></script>

<h1>Number of Products (Top 10) </h1>

<p>Select a category:</p>
<select id="group_name" onchange="change_group()">
        <option value='All' selected="selected">All</option>
        <option value='Diagnostic'>Diagnostic</option>
        <option value='Therapeutic'>Therapeutic</option>
        <option value='Population health'>Population health</option>
        <option value='Care-based'>Care-based</option>
        <option value='Triage'>Triage</option>
        <option value='Self-care'>Selef-care</option>
        <option value='Health promotion' >Health promotion</option>
        <option value='Remote Monitoring'>Remote Monitoring</option>
        <option value='Remote Consultation'>Remote Consultation</option>
        <option value='Other'>Other</option>
</select>
<a>      </a>
<input type="checkbox" onclick="change_group()" id="audited" a/> Audited Only<br>
<div id='result'></div>
<p></p>


<script>
change_group()
function change_group(){
    var urlmask = "{% url 'complianceform:getNumberRanking' group='gname' audited='auditedTrueOrFalse' %}"
    urlmask = urlmask.replace('gname',document.getElementById("group_name").value.toString())
    urlmask = urlmask.replace('auditedTrueOrFalse',document.getElementById("audited").checked.toString())
    d3.json(urlmask, function(error,data){
        console.log(data)
        if (Object.keys(data).length == 0){
        document.getElementById('result').innerHTML='No Result'
        document.getElementById('result').hidden=false
      } else {
        document.getElementById('result').hidden=false
        document.getElementById('result').innerHTML=''
        function makeUL(array) {
    // Create the list element:
            var list = document.createElement('ol');

            for(var i = 0; i < array.length; i++) {
                // Create the list item:
                var item = document.createElement('li');

                // Set its contents:
                item.appendChild(document.createTextNode(array[i]['organisation'] +' : '+ array[i]['product_count'] + '  product(s)'));

                // Add it to the list:
                list.appendChild(item);
            }

            // Finally, return the constructed list:
            return list;
        }

            // Add the contents of options[0] to #foo:
            document.getElementById('result').appendChild(makeUL(data));
      }
    })
}

</script>

<ul>
{% for count in productCounts %}
    <li>No. {{ forloop.counter }} {{ count.organisation }} : {{ count.product_count  }} product{{count.product_count| pluralize:",s"}}</li>

{% endfor %}
</ul>
{% endblock %}