{% extends 'base.html' %}

{% block content %}

<h1>Principle List</h1>

<div class="row">
    <div class="col-sm-4">

        {% if productInfo %}
            <ul>
            {% for principle in principleList %}
                <li><a href="/form/{{ product_id }}/{{ forloop.counter }}/principlelist">{{ principle }} </a></li>
            {% endfor %}
            </ul>
        {% else %}

        {% endif %}
    </div>
<div class="col-sm-8">
        <script type="text/javascript" src="{{ url }}"></script>
</div>
</div>

{% endblock %}

