{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-sm-2">

        {% if productInfo %}
        <h3>{{ productInfo.product_name }}</h3>
            <ul>
            {% for principleNo in oneToTen %}
                <li><a href="/form/{{ principleNo }}/principlelist">Principle {{ principleNo }} </a></li>
            {% endfor %}
            </ul>
            <p></p>
            <a href="/form/view/0">View Submissions</a>
            <p></p>
            <a href='/form/radar'>Radar</a>
            <p></p>
        {% else %}

        {% endif %}
    </div>
<div class="col-sm-10">
    {% block embed %}
    {% endblock %}
</div>
</div>

{% endblock %}

